<header class="header">
    <div class="logo">
        <span>Galerie LaPiscine</span>
    </div>
    <div class="menu_burger">
        <div class="burger_line"></div>
        <div class="burger_line"></div>
        <div class="burger_line"></div>
    </div>
    <nav class="nav">
        <ul class="header_nav_ul">
            <li><a class="header_link" href="{{ path('home_page') }}">Accueil</a></li>
            <li><a class="header_link" href="{{ path('show_exhibition') }}">Exposition</a></li>
            <li><a class="header_link" href="{{ path('get_works') }}">Oeuvres</a></li>
            <li class="menu_artists">
                <a class="header_link" href="{{ path('get_artists') }}">Artistes</a>
                <ul class="menu_categories">
                    {# affichage des catégories d'artiste disponibles #}
                    <li><a href="{{ path('get_artists',{'category':'1'}) }}">Peintres</a></li>
                    <li><a href="{{ path('get_artists',{'category':'2'}) }}">Sculpteurs</a></li>
                    <li><a href="{{ path('get_artists',{'category':'3'}) }}">Photographes</a></li>
                    <li><a href="{{ path('get_artists',{'category':'4'}) }}">Plasticiens</a></li>
                    {#{% for category in categories %}
                        <li><a href="{{ path('get_artists',{'category':category.id}) }}">category.title</a></li>
                    {% endfor %}#}
                </ul>
            </li>
            <li><a class="header_link" href="{{ path('contact_form') }}">Contact</a></li>
        </ul>
    </nav>
</header>