{# Fiche artiste #}

{% extends 'base.html.twig' %}
{% block title %}{{ artist.name }} - {% endblock %}
{% block content %}
    <section class="card_artist">
        <div class="image_artist">
            <img src="{{ asset('assets/uploads/artists/' ~ artist.image) }}" alt="photo">
        </div>
        <div class="info_artist">
            <span>{{ artist.name }}</span><br>
            {{ artist.biography }}
        </div>
    </section>
    <section class="list_content">
        <div class="list_articles">
        {% for work in artist.works %}
            <article class="work_article">
                <a href="{{ path('card_work', {'id':work.id}) }}">
                <h3>{{ work.title }}</h3>
                <div class="image_work">
                    <img src="{{ asset('assets/uploads/works/' ~ work.image) }}" alt="photo">
                </div>
                </a>
            </article>
        {% endfor %}
        </div>
    </section>
{% endblock %}