{% extends 'admin/base_admin.html.twig' %}

{% block content %}
    <section class="list_content">
        <p class="h3 list_title">Liste des artistes</p>
        <div class="btn_new">
            <a href="{{ path('artist_form_insert') }}"><button type="button" class="btn btn-outline-primary">Ajouter</button></a>
        </div>
        {% if display %}
            <table class="table list_table" cellspacing="0" cellpadding="0" border="0">
                <thead class="thead-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Catégorie</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {# boucle for qui crée une ligne pour chaque artist du array artists #}
                    {% for artist in artists %}
                        <tr>
                            <td>{{ artist.name }}</td>
                            <td>{{ artist.category.title }}</td>
                            <td><img src="{{ asset('assets/uploads/artists/' ~ artist.image) }}" alt="photo" height="60"></td>
                            <td><a class="list_link" href="{{ path('artist_form_update', {'id':artist.id}) }}"><img src="{{ asset('assets/img/noun_edit_25663.png') }}" alt="Editer" width="25"></a> <a class="list_link" href="{{ path('artist_delete', {'id':artist.id}) }}"><img src="{{ asset('assets/img/noun_Delete_2711226.png') }}" alt="Supprimer" width="30"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {{ knp_pagination_render(artists) }}
            </div>
        {% else %}
            Aucun élément dans la base de données.
        {% endif %}
    </section>
{% endblock %}